<section class="comments-block"></section>

<section id="disqus_thread"></section>

<script>
  (function() {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    if (window.location.hostname == "localhost") return;

    var disqus_loaded = false;
    var disqus_shortname = "{{ .Site.DisqusShortname }}";
    var disqus_button = document.getElementById("show-comments");

    disqus_button.style.display = "";
    disqus_button.addEventListener("click", disqus, false);
    (function disqus() {
      if (!disqus_loaded) {
        disqus_loaded = true;

        var e = document.createElement("script");
        e.type = "text/javascript";
        e.async = true;
        e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
        (
          document.getElementsByTagName("head")[0] ||
          document.getElementsByTagName("body")[0]
        ).appendChild(e);
      }
    })();
  })();
</script>

<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
>
